.portfolio {
    min-height: 525px;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    box-sizing: border-box;
    width: 100%;
}

.portfolio__title {
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #A0A0A0;
}

.portfolio__links {
    max-width: 100%;
}

.portfolio__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__item {
    max-width: 100%;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__link {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
}

.portfolio__link:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}

.portfolio__link-arrow {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 1px;
}

.portfolio__link-arrow:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
    .portfolio {
        min-height: 480px;
        padding: 0 50px;
    }
    .portfolio__title {
        padding-top: 90px;
    }
    .portfolio__link {
        font-size: 28px;
        line-height: 1.786;
    }
    .portfolio__link-arrow {
        font-size: 30px;
        line-height: 2,143;
        padding-top: 12px;
    }
}

@media screen and (max-width: 544px) {
    .portfolio {
        min-height: 381px;
        padding: 0 14px;
    }
    .portfolio__title {
        padding-top: 70px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 1.429;
    }
    .portfolio__item {
        height: 68px;
    }
    .portfolio__link {
        font-size: 18px;
        line-height: 1.56;
    }
    .portfolio__link-arrow {
        font-size: 18px;
        line-height: 1.56;
        padding-top: 3px;
    }
}
