.savedMovies {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savedMovies__nofind {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
    letter-spacing: -0.04em;
    color: #000000;
}