/* Resources*/
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

/* Основной код для разрешения 1280px */
/* стили для стандартных компьютеров и ноутбуков */

@media screen and (max-width: 1024px) {
    /* стили для планшетов 768px */
}
@media screen and (max-width: 544px) {
    /* стили для мобильных устройств 320px*/
}